.todo {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    input:not(ul input), button {
        border: 1px solid #ddd;

        &:hover {
            box-shadow: 0 0 0 2px lightblue;
        }

        cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    gap: 30px;
}